body {
    background-color: #0D1117;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
}


.nav {
    background-color: #010409;
    list-style-type: none;
    text-align: left;
    padding: 0px;
    margin: 0px;
    border-bottom:1px solid #2F353D;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 15px;
}

.banner{
    background-color: #010409;
    margin: 0px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top:1px solid #2F353D;
    border-bottom:1px solid #2F353D;
    display: flex;
    align-items: center;
}

.banner h1 {
    margin: 0px;
    margin-left: 10px;
}

.banner img{
    width: 60px;
    height: 60px;
}

li a {
    text-decoration: none;
    color: inherit;
}

h2 {
    text-align: center;
}

.teams li{
    list-style-type: none;
    display: inline-block;
    align-items: center;
}

.teams img{
    border: 3px solid #5E7F4E;
    width: 200px;
    height: 200px;
    padding: 5px;
    padding-bottom: 0px;
    background-color: #010409;
}

.teams {
    display: flex;
    justify-content: center;
}

.teams ul {
    padding: 0px;
    margin: 0px;
}

.teamname h3 {
    display: block;
}

.nametag li {
    list-style-type: none;
    text-align: center;
    align-items: center;
    display: inline-block;
    width: 200px;
    border: 3px solid #5E7F4E;
    padding: 5px;
    margin: 2px;
    background-color: #010409;
   
}

.nametag ul {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-top: 0px;
}

